# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
*.log

# Virtual environments
venv/
virt-env/
.env/

# Configurações locais
*.sqlite3
instance/
.env.*

# --- Node / Angular ---
node_modules/
dist/
tmp/
temp/
.npm/
.cache/
.angular/
coverage/

# --- VSCode ---
.vscode/
*.code-workspace

# --- Outros ---
.DS_Store
Thumbs.db


# --- Resultado notas ---
resultado_notas_*.json