astroid==3.2.4
blinker==1.8.2
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.1.8
dill==0.4.0
flask==3.0.3
gunicorn==23.0.0
idna==3.10
importlib-metadata==8.5.0
isort==5.13.2
itsdangerous==2.2.0
jinja2==3.1.6
MarkupSafe==2.1.5
mccabe==0.7.0
packaging==25.0
platformdirs==4.3.6
pylint==3.2.7
python-dotenv==1.0.1
requests==2.32.4
ruff==0.12.9
tomli==2.2.1
tomlkit==0.13.3
typing-extensions==4.13.2
urllib3==2.2.3
werkzeug==3.0.6
zipp==3.20.2
