<div class="tela-inteira">
<app-estudante-perfil></app-estudante-perfil>

    <!-- <app-chat></app-chat>
    <form class="login">
            <input class="login-email" type="text" placeholder="Insira ID">
            <button class="login-botao" type="button" (click)="trocaId()">Trocar ID</button>
            <button class="login-botao" type="button" (click)="checaId()">Checar ID</button>
            <button class="login-botao" type="button" (click)="limpaChat()">Limpar chat</button>
    </form> -->
</div>