<div class="painel-materias" *ngIf="visualizacao">

    <div class="thumb-esquerda"><img src="seta_cinza.png"></div>
    <div class="espaco-materias">
        <div class="espaco-materias-titulo"><h2>Matérias desse semestre</h2></div>
        <section class="container-materias">
            <div class="loading" *ngIf="this.materiaService.getNotasCarregandoEstado()">
                Carregando...
            </div>
            <app-materia class="materia" *ngFor="let materia of this.materiaService.getAllMateriasParciais()" [mat]="materia"></app-materia>
        </section>
    </div>
    <div class="thumb-direita">
        <a routerLink="../historico"><img src="seta.png"></a>
    </div>

</div>