<div class="chat-container">

  <div class="mensagens-area">

    <div *ngFor="let msg of mensagens" 
      class="mensagem" 
      [ngClass]="{'mensagem-usuario': msg.remetente === 'usuario', 'mensagem-bot': msg.remetente === 'bot'}">
    

      <markdown *ngIf="msg.remetente === 'bot'; else usuarioTpl" [data]="msg.text"></markdown>
      <ng-template #usuarioTpl>
          <p>{{ msg.text }}</p>
      </ng-template>

      <span class="timestamp">{{ msg.timestamp | date:'shortTime' }}</span>
    </div>

    <div *ngIf="estaCarregando" class="mensagem mensagem-bot">
      <div class="loading-dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>

  <div class="input-area">
    <input 
      type="text" 
      class="chat-input" 
      placeholder="Digite sua mensagem..." 
      [(ngModel)]="usuarioInput"
      (keyup.enter)="enviarMensagem()"
      [disabled]="estaCarregando"> <button 
      class="chat-botao" 
      (click)="enviarMensagem()"
      [disabled]="estaCarregando"> Enviar
    </button>
  </div>

</div>

<!-- 
<div class="chat-window">
  <div *ngFor="let msg of mensagens" [ngClass]="msg.remetente">
    <span>{{ msg.text }}</span>
  </div>
</div>

<div class="chat-input">
  <input [(ngModel)]="usuarioInput" placeholder="Digite sua mensagem..." />
  <button (click)="enviarMensagem()">Enviar</button>
</div>

<br><br><br> -->